.container {
    background-color: #aceef9;
    padding: 70px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titr {
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.searchbox {
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
}